<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Githubstars</title>


  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/alertify.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/alertify.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/default.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/semantic.min.css" />
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.4/build/css/themes/bootstrap.min.css" />
  <script src="js/jquery-3.4.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster|Pacifico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

  <link rel="stylesheet" href="css/main.css">

  <script src="js/main.js"></script>
</head>

<body>
  <!-- <hero
  <h1 style="font-family: 'Lobster', cursive;" class="title in-corner">Ryotaro</h1>
    <div class="field">
        <div class="control is-large is-loading">
          <input class="input is-large" type="text" placeholder="Large loading input">
        </div>
      </div> -->

    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <h1 style="font-family: 'Comic Sans MS', cursive;" class="title">githubstars</h1>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
          </div>
        </div>
      </header>
    </div>

    <div class="hero-body">
      <div style="margin-left: 20%; margin-right:20%" class="container">
        <div style="margin-left: 10%;" class="columns">
          <div style="" class="is-half">
              <h1 style="font-family: '', cursive;" class="title">
                  https://github.com/
                </h1>      
          </div>
          <div id="username_control" class="control is-half">
            <input style="margin-bottom: 10px" id="username_input"
              class="input is-medium" type="text" placeholder="Username">
          </div>
        </div>
        <div class="has-text-centered"><a id="fetcher" style="" class="button is-info is-large center">Get
            Repositories</a></div>

      </div>
    </div>
  </section>


</body>

</html>